
<div class="container pt-3">

  <h1 class="pb-3">Stupid Coaching</h1>

<div class="white-card">

    <h4><%= params[:query] %></h4>

    <p><em> - You</em></p>

  </div>

  <div class="yellow-card">

    <h4> <%= @coach_answer %></h4>

    <p><em> - Your coach</em></p>



  </div>



</div>




<div class="container text-center">



  <%= link_to "Ask again!", ask_path, class: "btn btn-success mt-3" %>



</div>

